.select-editable {
    position: relative;
    background-color: white;
    width: 95px;
    height: 20px;
}

.select-editable select {
    position: absolute;
    top: -6px;
    left: 0px;
    border: none;
    width: 80px;
}

.select-editable input {
    position: absolute;
    top: -3px;
    left: 1px;
    margin-left: 7px;
    width: 60px;
    height: 24px;
    padding: 1px;
    font-size: 15px;
    border: none;
    background: transparent;
}

.select-editable input:focus {
    outline: none;
}